mixin header
  - var modifiers = attributes.class || '';
  header.header
    .header__wrapper
      a(href="#" title="" class="#{modifiers}").header__logo
      .header__slogan Поймай Покемонов в реальном мире с 
        strong Pokémon GO!
      .header-companies
        .header-companies__company-1
        .header-companies__company-2
        